@model StudentManagementSys.Models.tblclassroom

@{
    ViewBag.Title = "detailsClassRoom";
    Layout = "~/Views/Layout/_UsingLayout.cshtml";
}

<h2>detailsClassRoom</h2>

<div>
    <h4>tblclassroom</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idcr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idcr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createDate)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
